<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IFileCenterService"
                       closeTimeout="00:15:00"
                 openTimeout="00:15:00"
                 receiveTimeout="00:15:00"
                 sendTimeout="00:15:00"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
              </binding>
                <binding name="BasicHttpBinding_IHashService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1412/FileCenterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileCenterService"
                contract="FileServiceReference.IFileCenterService" name="BasicHttpBinding_IFileCenterService" />
            <endpoint address="http://localhost:1412/HashService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHashService" contract="HashServiceReference.IHashService"
                name="BasicHttpBinding_IHashService" />
        </client>
    </system.serviceModel>
  
  <appSettings>
    <add key="SmtpServerHost" value="C:\Users\ahmet\Backups\" />
  </appSettings>
</configuration>